h1 {
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  color: #49367e;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  color: grey;
  font-size: 12px;
}

h3 {
  text-align: center;
}

p {
  text-align: left;
}

a {
  color: yellow;
}

.buttons-container {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttons {
  flex-direction: column;
}

.button + .button {
  margin: 1em 0;
}

/*Removes default blue outline of buttons*/
button:focus {
  outline: 0;
}

form {
  margin-top: 2px;
  margin-bottom: 7px;
}

/*Common for all buttons*/
.button {
  font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  display: flex;
  background-color: #ff5b24;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14pt;
  border: none;
  height: 44px;
}


/*Regular payment button styling */
.regular {
  width: 210px;
}

.regular svg {
  margin-left: 6px;
  margin-top: 5px;
}

/*Small payment button styling*/
.small {
  width: 140px;
}

.small svg {
  margin-right: 4px;
}

/*Express checkout button styling*/
.express {
  width: 210px;
}

.express svg {
  margin-right: 6px;
  margin-top: 5px;
}

/*Small express checkout button styling*/
.small.express {
  width: 140px;
  display: flex;
  padding: 0;
}

.small.express span {
  flex: 1;
}

.small.express svg {
  margin-left: 2px;
  margin-right: -5px;
  margin-top: 0;
  transform: scale(0.9);
}

/*Login button styling*/
.login {
  width: 210px;
}

.login svg {
  margin-left: 6px;
  margin-top: 5px;
}

/*Signup button styling*/
.signup {
  width: 210px;
}

.signup span {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.signup svg {
  margin-left: 6px;
}

/*Paymark button styling*/
.paymark {
  width: 48px;
  height: 31px;
  border-radius: 3.5px;
}

/*Extra functionality*/
#code-container {
  margin: auto;
  width: 90vw;
  height: 45vh;
  background-color: #1D1E22;
  color: #C5C8D4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
}

#html-container {
  text-align: center;
  width: 50%;

}

#css-container {
  text-align: center;
  width: 50%;
}

#css {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  background-color: rgb(43, 43, 43);
  border-left: 2px solid rgb(131, 132, 139);
  margin-left: -2px;

}

#html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 15px;
  width: 100%;
  height: 100%;
  background-color: rgb(43, 43, 43);
  overflow-x: auto;
}
